!!!
html(lang="en")
	head
		title= title
		meta(name='viewport', content='width=device-width; initial-scale=1;')
		if styles
			style(type='text/css')!= styles
	body
		if slides
			#presentation!= slides
	
	script(src='/socket.io/socket.io.js')
	script(src='/js/jquery.js')
	script(src='/js/fathom.js')
	script(src='/js/prettify.js')
	script(src='/js/script.js')

	if isRemote
		script(src='/js/remote.js')
	else
		script(src='/js/client.js')